<div class="input-group input-group-sm">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default btn-sm"
            data-toggle="tooltip" data-placement="bottom" aria-expanded="false">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </button>
  </div>
  <span class="input-group-addon text-left" style="width: 120px; text-align: left;">?</span>
  <input type="text" class="form-control" aria-label="..."
          ng-model="candidate.currentCandidate.current"
          >
  <div class="input-group-btn">
    <button type="button" class="btn btn-suggested btn-sm" aria-label="Left Align" ng-model="replacement.enabled" ng-click="replacement.enabled = !replacement.enabled">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</div>
