<span ng-click="widgetPaperCtrl.wordClicked( number )"
      ng-bind-html="word | highlight: widgetPaperCtrl.transformation.active | html ">
</span>
<!--      ng-click="widgetPaperCtrl.lineClicked( number )"
      ng-bind-html="letters |
                     substitute: widgetPaperCtrl.transformation.replacements |
                     highlight: widgetPaperCtrl.transformation.active |
                     highlight: widgetPaperCtrl.candidate.current |
                     html">
</span>
&zwnj;
-->
